@media (min-width: 720px) {
	.main {
		.info {
			.container {
				.center-box {
					.text-box {
						width: calc(((1024px + 16px - 5.4vw * 2) / 6 * 3.25) - 1.6px);
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.nav {
		.nav-box {
			.container {
				.menu-links {
					.mid-box {
						ul {
							.item {
								.link {
									font-size: 2.4rem;
								}
							}
						}
					}

					.initiatives {
						.boxes-container {
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: 15px;
							padding-bottom: 80px;

							.boxes {
								.img-box {
									.medium-img {
										display: block;
									}

									.small-img {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main {
		.picture {
			.container {
				.center-box {
					.box {
						.picture-box {
							// width: calc(((768px + 16px - 5.4vw * 2) / 6 * 3) - 16px);
							.link {
								.frame {
									width: calc(((100vw + 16px - 5.4vw * 2) / 6 * 3) - 16px);
								}
								.text-box {
									.text {
										max-width: calc(
											((100vw + 16px - 5.4vw * 2) / 6 * 2) - 16px
										);
										font-size: 1.1rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
