@media (min-width: 720px) {
	.main {
		.images {
			.container {
				.center-box {
					.text-box {
						width: calc(((1024px + 16px - 5.4vw * 2) / 6 * 3.25) - 1.6px);
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.nav {
		.nav-box {
			.container {
				.menu-links {
					.mid-box {
						ul {
							.item {
								.link {
									font-size: 2.4rem;
								}
							}
						}
					}

					.initiatives {
						.boxes-container {
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: 15px;
							padding-bottom: 80px;

							.boxes {
								.img-box {
									.medium-img {
										display: block;
									}

									.small-img {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
