@media (min-width: 720px) {
	.main {
		.info {
			.container {
				.center-box {
					.text-box {
						width: calc(((100vw + 16px - 5.4vw * 2) / 6 * 3.25) - 1.6px);
					}
				}
			}
		}
		.featured {
			.container {
				.center-box {
					.carousel-box {
						ul {
							padding-top: 12.5rem;
							.item {
								width: calc(((100vw + 16px - 5.4vw * 2) / 6 * 3) - 16px);
							}
						}
					}
				}
			}
		}

		.basic-links {
			.container {
				.center-box {
					.boxes {
						margin-top: 50px;
						.box {
							.text-box {
								.title {
									position: absolute;
									top: -5px;
									width: calc(((100vw + 1.6rem - 5.4vw * 2) / 6 * 3) - 1.6rem);
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.nav {
		.nav-box {
			.container {
				.menu-links {
					.mid-box {
						ul {
							.item {
								.link {
									font-size: 2.4rem;
								}
							}
						}
					}

					.initiatives {
						.boxes-container {
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: 15px;
							padding-bottom: 80px;

							.boxes {
								.img-box {
									.medium-img {
										display: block;
									}

									.small-img {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main {
		.picture {
			.container {
				.center-box {
					.box {
						.picture-box {
							// width: calc(((768px + 16px - 5.4vw * 2) / 6 * 3) - 16px);
							.link {
								.frame {
									width: calc(((100vw + 16px - 5.4vw * 2) / 6 * 3) - 16px);
								}
								.text-box {
									.text {
										max-width: calc(
											((100vw + 16px - 5.4vw * 2) / 6 * 2) - 16px
										);
										font-size: 1.1rem;
									}
								}
							}
						}
					}
				}
			}
		}

		.home {
			.container {
				.center-box {
					.box {
						display: flex;
						justify-content: space-between;
						flex-flow: row-reverse;

						.movie-box {
							width: 49%;
						}

						.text-box {
							width: 49%;
							margin-top: 0;
							.title-section {
								font-size: 4.6rem;
							}
						}

						.mobile {
							display: none;
						}

						.desktop {
							display: block;
						}
					}
				}
			}
		}

		.basic-links {
			.container {
				.center-box {
					.boxes {
						margin-top: 50px;
						.box {
							display: flex;

							.img-box {
								margin-right: 16px;
								width: calc(((100vw + 1.6rem - 5.4vw * 2) / 6 * 2) - 1.6rem);
							}

							.text-box {
								margin-top: 0;
								width: calc(((100vw + 1.6rem - 5.4vw * 2) / 6 * 4) - 1.6rem);

								.title {
									position: absolute;
									top: -5px;
								}

								.arrow-basic {
									top: 0;
									width: 30px;
									height: 30px;
								}
								.mini-text {
									.text {
										position: absolute;
										bottom: 0;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
