* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}


@import './small';
@import './medium';
@import './large';
